
body {
    background-image: url(https://www.alfabetajuega.com/abj_public_files/multimedia/imagenes/201511/127011.alfabetajuega-pokemon-wallpapers-2-071115.jpg);
    background-attachment: fixed;
    background-repeat: round;
    text-align: center;
    opacity: 70px;
    color: aliceblue;
}

.header{
    padding-bottom: 20px;
    padding-top: 20px;
}
.container {
    width: 100%;
}

.card-link {
    display: inline-grid;
    width: 150px;
    height: 160px;
    border-radius: 25px;
    background-color: rgba(157, 222, 238, 0.5);
    padding: inherit;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}

.seleccionar{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: black;
    background-color: #92dcee;
    border-radius: 15px;
    border: 3px double #1e06f8;
    float: right;
}
.select{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: black;
    background-color: #92dcee;
    border-radius: 15px;
    border: 3px double #1e06f8;
    float: left;
    
}

.list{
    padding-bottom: 20px;
    padding-top: 20px;
    width: 50;
}
.logo{
    width: 400px;
}

chart_div{
    align-content: center;
    border-radius: 30px;
}

@media (max-width: 750px) {
    .group {
        font-size: 15px;
    }
}

@-webkit-keyframes mymove {
    from {background-color: rgba(199, 188, 188, 0.952);}
    to {background-color: rgb(31, 31, 71);}
}
@keyframes mymove {
    from {background-color:  rgba(199, 188, 188, 0.952);}
    to {background-color: rgb(31, 31, 71);}
}
