.container {
    width: 100%;
    height: 100%;
}

.card-link {
    display: inline-grid;
    width: 150px;
    height: 250px;
    border-radius: 25px;
    background-color: rgba(228, 241, 245, 0.5);
    padding: inherit;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}